body {
    margin : 0;
    padding: 0;
    background-image: url("background-light.png");
}

.container {
    width: 40%;
    background-color: skyblue;
    padding: 20px;
}

@media (max-width: 768px)
{
    .container {
        margin-top: 100px;
        width: 79%;
    }
}